// Fonts
$h1Fonts: 'Encode Sans Condensed', sans-serif;
$h2Fonts: 'Nanum Gothic', sans-serif;
$bodyFonts: 'Trirong', serif;
$machinFonts: 'Rajdhani', sans-serif;
$specialFonts: 'Special Elite', cursive;

// Colors
$primary: #1a1423;
$secundary: #372549;
$accent1: #afc1d6;
$accent2: #774c60;
$accent3: #b75d69;

