.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    /* General styling */
    list-style-type: none;
    padding: 0;
    margin: 20px;
  }
  
  .card {
    border: 1px solid black;
    margin: 0;
    padding: 0;
  }
  
  .card img {
    display: block;
    width: 100%;
  }
  
  .card h4 { 
    padding: 20px;
    margin: 0;
    border: 1px solid orange;
  }
  
  ///////* .cont *////////
  .container {
    display: flex;
    gap: 10px;
    gap: 10px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
  }

  .container {
    align-content: flex-start | flex-end | center | space-between | space-around | space-evenly | stretch | start | end | baseline | first baseline | last baseline + ... safe | unsafe;
  }

  section {
    display: flex;
    flex-direction: column;
  }

  .item {
    flex-grow: 4; /* default 0 */
  }

  .c {
    grid-row: 2 / 4;
    grid-column: 2 / 4;
  }
