body{
    margin:0;
    padding:0;
    scroll-behavior:smooth;
    font-family:Arial,Helvetica,sans-serif;
    background-color:var(--grey-1);--grey-1:#ebebeb;
    --grey-2:#8d9dad;
    --grey-3:#4e5d6c;
    --grey-4:#2b3e50;
    --blue-1:#5bc0de;
    --blue-2:#31b0d5;
    --orange-1:#df691a;
    --orange-2:#b15315;
    --input-border-color:var(--blue-1);
    --input-placholder-color:var(--grey-2);
    --button-fill-color:var(--blue-1);
    --button-hover-color:var(--blue-2);
    --button-text-color:#fff;
    --panel-background-color:var(--grey-4);
    --panel-text-color:#fff;
}

.Filter{
    width:100%;
    max-width:600px;
    height:2.5em;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin:0 auto;
    padding:0;
}

.Filter-iframe,.Filter-input{
    width:100%;
    height:100%;
    border:none;
}

.Filter-input{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:8px;
    font-size:1.2rem;
    border-bottom:2px solid var(--input-border-color);
    border-radius:0;
    background:transparent;
    -webkit-transition:all .2s ease-in;
    -o-transition:all ease-in .2s;transition:all .2s ease-in;
    text-align:center;
}

.Filter-input:active,.Filter-input:focus{
    outline:none;
    background:#fff;
}

.Filter-input::-webkit-input-placeholder{
    font-style:italic;
    font-weight:400;
    color:var(--input-placholder-color);
}

.Filter-input:-ms-input-placeholder,.Filter-input::-ms-input-placeholder{
    font-style:italic;
    font-weight:400;color:var(--input-placholder-color);
}

.Filter-input::placeholder{
    font-style:italic;
    font-weight:400;
    color:var(--input-placholder-color)
}

.Element{display:block;width:96px;height:96px;margin:8px;position:relative;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);-webkit-transition:all .15s ease-in-out;-o-transition:all ease-in-out .15s;transition:all .15s ease-in-out;-webkit-box-shadow:0 0 0 2px rgba(0,0,0,.1);box-shadow:0 0 0 2px rgba(0,0,0,.1);border-radius:2px;text-decoration:none;outline:none;-webkit-tap-highlight-color:transparent}.Element-name{margin:0;line-height:100px;color:#222;letter-spacing:-.05em;font-weight:400;font-size:1em;text-shadow:0 0 5px hsla(0,0%,100%,.1)}.Element-inactive:hover:not(:active){-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);z-index:100}.Element-selected{border-radius:100px;-webkit-transform:scale(2);-ms-transform:scale(2);transform:scale(2);z-index:200;-webkit-box-shadow:0 0 0 3px rgba(0,0,0,.2);box-shadow:0 0 0 3px rgba(0,0,0,.2)}.Element-deselecting{z-index:101}.Grid{display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-wrap:wrap;flex-wrap:wrap;position:relative;margin:8px}.InfoLink{margin:0;padding:0;display:inline-block}.InfoLink-button{text-decoration:none;background:var(--button-fill-color);border-radius:2px;-webkit-box-shadow:1px 1px 1px rbga(0,0,0,.2);box-shadow:1px 1px 1px rbga(0,0,0,.2);color:var(--button-text-color);font-weight:700;display:inline-block;margin:0 8px 8px 0;padding:8px 12px}.InfoLink-button:active,.InfoLink-button:hover{background:var(--button-hover-color)}.InfoContent h1{margin:0 0 12px}.InfoContent-desc{-ms-flex:1 1;flex:1 1;margin:0 0 12px}.InfoContent-example{font-family:Consolas,monospace;padding:0 0 12px;letter-spacing:-.7px}.InfoContent-example .token.punctuation{color:var(--grey-1)}.InfoContent-example .token.tag{color:#66adff}.InfoContent-example .token.attr-name{color:#42e619}.InfoContent-example .token.attr-value{color:#e6af19}.InfoContent-links{list-style:none;margin:4px 0 0;padding:0}.InfoPanel-showing{height:212px}.InfoPanel-panel{position:fixed;z-index:1000;-webkit-box-sizing:border-box;box-sizing:border-box;bottom:-200px;min-height:128px;left:0;right:0;width:100%;padding:16px;border:none;display:-ms-flexbox;display:flex;text-align:left;-ms-flex-direction:column;flex-direction:column;-ms-flex-pack:start;justify-content:flex-start;-webkit-transition:bottom .2s ease-in-out;-o-transition:bottom ease-in-out .2s;transition:bottom .2s ease-in-out;background:var(--panel-background-color);color:var(--panel-text-color);-webkit-box-shadow:0 -4px rgba(0,0,0,.2);box-shadow:0 -4px rgba(0,0,0,.2)}.InfoPanel-showing .InfoPanel-panel{bottom:0}.NoResults{padding:32px}.NoResults-chooseRandom,.NoResults-header,.NoResults-shakePrompt{color:var(--grey-2);text-shadow:1px 1px 1px hsla(0,0%,100%,.753)}.NoResults-header{font-weight:700;font-size:1.5em}.NoResults-shakePrompt{display:none}.NoResults-chooseRandom{background:none;border:none;padding:0;outline:none;cursor:pointer}.NoResults-chooseRandom:hover{text-decoration:underline}@media (pointer:coarse),(pointer:none){.NoResults-shakePrompt{display:block}.NoResults-chooseRandom{display:none}}.App{text-align:center;overflow:hidden;min-height:100vh;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column}.App-header{margin:16px 16px 32px}.App-content{-ms-flex:1 1;flex:1 1}.App-footer{margin:16px;font-size:.8em;font-style:normal}.App-title{margin:0 0 16px;font-size:2.4em;font-family:Pacifico,cursive;font-weight:700;white-space:nowrap;color:var(--grey-4);--shadow-color:var(--blue-1);text-shadow:-.8px .8px var(--shadow-color),-1px 0 var(--shadow-color),-.8px -.8px var(--shadow-color),0 -1px var(--shadow-color),.8px -.8px var(--shadow-color),0 2px var(--shadow-color),1px 3px var(--shadow-color),2px 4px var(--shadow-color),3px 5px var(--shadow-color),4px 5px var(--shadow-color),2px 0 var(--shadow-color),3px 1px var(--shadow-color),4px 2px var(--shadow-color),5px 3px var(--shadow-color),6px 4px var(--shadow-color),5px 5px var(--shadow-color)}@media (min-width:800px){.App-title{font-size:3.2em}}@media (min-width:1000px){.App-title{font-size:4em}}.App-footer,.App-footer a{text-decoration:none;color:var(--grey-2)}
/*# sourceMappingURL=main.8c1aef99.css.map*/