body {
    width: 2000px;
}

.col-grid > * {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 800px;
    max-width: 600px;
    justify-content: flex-start;
    align-items: stretch;
    text-align: center;
    
    
}

.col-grid > * {
    padding-bottom: 35px;
    border: 10px #000;
    border: 1px solid rgb(138. 138, 138);
    border-radius: 5px;
    margin: 10px;
    padding: auto;
}

.row-grid > * {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 200px;
    max-width: 1200;
    justify-content: flex-start;
    text-align: center;
    padding: auto;
}

.row-grid > * {
    padding-bottom: 35px;
    border: 10px #000;
    border: 1px solid rgb(138. 138, 138);
    border-radius: 5px;
    margin: 1em;
    flex-direction: column;
}

/*/////////*/
element.style {
    display: block;
    -webkit-user-select: none;
    margin: auto;
    background-color: hsl(0, 0%, 90%);
    transition: background-color 300ms;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.container {
    display: flex;
  }


  .col {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
  }
  
  .col {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding: 10px;
  }

  .tile {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    align-self: stretch;
    justify-self: stretch;
    margin: 10px;
    padding: 10px;
  }