/* Variables */
// colors
$body-background-color: darkred;
$form-background-color: white;
$input-color: white;
$headlines-color : white;

          body {
            background-color: $body-background-color;          
       }
       #contactform {
        background-color: $form-background-color;
        input, textarea {
            background-color: $input-color;
            flex: 2;
        }
        @media (min-width: $break-small) {
           & {
              width: 90%;
              max-width: 700px;
              margin-left: auto;
              margin-right: auto; 
            } 
        }
    }

    @mixin flex-container() {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }